#!/usr/bin/env bash
set -e

DIR=`pwd`

if [ ! -e ".git/hooks/pre-commit" ]; then
rm -rf .git/hooks/pre-commit
mkdir -p .git/hooks
ln -s ../../.direnv/git/hooks/pre-commit .git/hooks/pre-commit
chmod +x .git/hooks/pre-commit
fi

cd $DIR


init() {
root=$DIR/$1
cd $root
if [ ! -d node_modules ] ; then
  if ! [ -x "$(command -v yarn)" ]; then
    npm install -g yarn
  fi
  yarn
fi
cd $DIR
}

init .
init site
init script

PATH="$DIR/.direnv/bin:$PATH"

